

@import 'normalize';

@import 'neat';



// Variables
@import 'base/*';

// Components
@import 'components/*';

// Generator Default style, delete these
h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
}

p {
	font-size: 1.6rem;
	line-height: 1.4em;
}

ol,
ul {
	font-size: 1.6rem;
	line-height: 1.4em;
}

code {
	background-color: black;
	color: white;
	font-size: 1.4rem;

	padding: 2px 10px;
}
.hero #facebookBlue {
  background-color: #0685ed;
  z-index: 50;
  width: 1400px;
  height: 934.66px;
  position: absolute;
  opacity: 0.8;
  margin: 0 auto;
  display: block;
  left: 20px;
}

.hero #cover {
  width: 1400px;
  display: block;
  margin: 0 auto;
  z-index: 1;
}
.hero #lightningBrain {
  z-index: 100;
  position: absolute;
  left: 593px;
  top: 313px;
  max-height: 251px;
}
.hero h1{
  z-index: 100;
  position: absolute;
  left: 648px;
  top: 554px;
  color: white;
}
.hero #heroDescription{
  z-index: 100;
  position: absolute;
  left: 531px;
  top: 589px;
  color: white;
}
