{% extends "master.njk" %}

{% block content %}

<div class= "hero">
	<div id = "facebookBlue"></div>
	<img id = "cover" src= "https://images.unsplash.com/photo-1472806679307-eab7abd1eb32?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e87fa778aba0284a0ac82139bbdb74f&auto=format&fit=crop&w=2100&q=80" alt= "bohemian girl leaning against car on the beach"/>
	<img id = "lightningBrain" src= "img/icon-lightning-brain.png"/>
	<h1> Synapses </h1>
	<p id= "heroDescription"> Free synaptic messaging from Facebook </p>
	<p id= "learn"> Learn More </p>
</div>

<div class= "features">
	<h1> The communication revolution is here </h1>
	<h2> Facebook Synapses makes communicating faster, easier and better. Designed for
	everyone it's the first communication platform to use the neurological technology
	you already have.</h2>

	<div class= "neurolinguistic">
		<i class="fas fa-code-branch"></i>
		<h3> Neurolinguistic Processing </h3>
		<p> Synapses takes advantage of existing neurolinguistic programming to facilitate
		N2N data processing. Similar to the way your brain converts sound into electric
		signals, text and image data can be processed, stored and transmitted </p>
	</div>

	<div class= "lightning">
		<i class="fas fa-bolt"></i>
		<h3> Lightning Fast </h3>
		<p> Synaptic firing enables instantaneous encryption, packaging, and transmission of data. Our app
		runs on this physiological process to provide literally lightning fast transfer speeds.
		HD images and video can be transferred between users in parsecs. </p>
	</div>

	<div class= "secure">
		<i class="fas fa-lock"></i>
		<h3> Safe and Secure </h3>
		<p> Facebook takes privacy very seriously. Our Security Policy details everything
		you need to know. You share only what you want to share, and the rest is in
		the vault. End-to-end asynchronous encryption is the lock and only you have
		the key </p>
	</div>

	<p id= "getStarted"> Get Started </p>
</div>

<div class= "pricing">
	<h1> Ready to change your world? </h1>
	<p> Getting started with Synapses is dead easy. Here's what you need: </p>

	<div class= "nuroRing">
		<i class="fas fa-cog"></i>
		<h2> Nuro Ring </h2>
		<p> Lightweight, durable, invisible. The Nuro ring sits in the external auditory
		cavity of your ear. It is the connection between your neural network and the
		internet. Think of it as a USB for your brain.</p>
		<h3 class= "price" >$99 </h3>
		<p id= "buy"> Buy Now </p>
	</div>

	<div class= "synapsesApp">
		<img id = "app" src= "img/icon-lightning-brain.png" alt= "App logo"/>
		<h2> Synapses App </h2>
		<p> Available now for Androids, iPhone and Windows Phone, the Synapses app provides
		a secure interface to your neural network from your smart phone. </p>
		<h3 class= "price"> Free </h3>
		<p id= "download"> Download </p>
	</div>

</div>

<div class= "footer">
	<h1> Need help? </h1>
	<p id="help"> We understand that neural bio-technology can be a bit daunting for some. Fear
	of change is natural, and the solution is often education. Our team of neuro-scientists
	are ready to answer your questions as we lead the way into a new era of modern
	communication </p>
	<p id= "question"> Ask a Question </p>
	<p id = "faq"> Visit our FAQ </p>
	<p id = "dataRates"> Standard data rates apply. </p>
	<p id = "company"> Facebook &#169 2014 - English (US) </p>
</div>

	{% endblock %}
