{% extends "master.njk" %}

{% block content %}

<div class= "hero">
	<img src= "img/cover.jpeg"/>
	<img src= "img/icon-lightning-brain.png"/>
	<h1> Synapses </h1>
	<p> Free synaptic messaging from Facebook </p>
	<p id= "learn"> Learn More </p>
</div>
<div class= "footer">
</div>

	{% endblock %}
