<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]> 		   <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		{% include "partials/meta.njk" %}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:100" rel="stylesheet">
		<link rel="stylesheet" href="css/main.css">

	</head>
	<body>
		<div class="container">
			{% include "partials/header.njk" %}

			{% block content %}
			{% endblock %}


			{% include "partials/analytics.njk" %}
		</div>
		<script type="text/javascript" src="js/scripts.min.js"></script>
	</body>
</html>
